body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

img {
    display: block;
    margin: 20px 0;
    max-width: 300px;
}

/* Esta clase es la que modifica el JS */
.gris {
    color: black;
}
